<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css//style.css">
    <title>Active Users List</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <img class="logo" src="https://icon-library.com/images/logo-icon-png/logo-icon-png-7.jpg" alt="This is an example image">
            </div>
            <ul class="nav-menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>

    </header>
    <h3 class="title">List of current users active</h3>

    <div class="container">
        <ul class="user-list" id="userList">

        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/user.js"></script>
</body>

</html>